<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/commons::head}"/>
</head>
<title>Rain | 404-Not Found</title>
<body class="hold-transition sidebar-mini layout-footer-fixed">
<div class="wrapper">
  <!-- Main Header Nav and Sidebar -->
  <header th:replace="~{admin/commons::site-nav(active='404')}"></header>

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>404 Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
              <li class="breadcrumb-item active">404</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Bad Request </h3>
        </div>

        <div class="card-body">
          <p class="lead">The server cannot process the request due to something that is perceived to be a client
            error.</p>
          <p>报告问题 <a href="https://github.com/zsy0216/Rain-Blog/issues/new" target="_blank">New Issues</a></p>
        </div>
      </div>
    </section>
  </div>

  <footer th:replace="~{admin/commons::footer}"></footer>
</div>
<div th:replace="~{admin/commons::common-js}"></div>
</body>
</html>
